<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jsUtil.js"></script>
</head>
<body>
<form id="form">
    <input id="ti" class="name" name="1" value="1">
    <input class="ti" name="username" value="2">
    <input class="ti" name="password"  value="3">
    <input class="ti" name="id"  value="4">
    <button type="button" onclick="buttonTest();">가즈앙</button>
</form>
</body>
<script>

    // function buttonTest() {
    //     const requestBody = { username: 'dd', id: 'dd', password: 'dd', name: 'dd' };
    //
    //     ApiRequestBody('/main', 'post', requestBody);
    // }
    //



</script>

</html>